{% extends "base.html.twig" %}

{% block title %}Search{% endblock %}

{% block content %}

<form>
    <p>
        <label>Search:
            <input type="search" name="search" value="{{ search }}">
        </label>
    </p>
</form>

{% endblock %}