{% extends "casino/base.html.twig" %}
{% block content %}
<div class="welcome">
    <p>Vi har knäckt koden till det bästa casinot online</p>
    <p style="font-size: 0.8em;">Fria uttag.</p>
    <p style="font-size: 0.8em;">Bonus utan omsättningskrav.</p>
    <p style="font-size: 0.8em;">Klassiska spel.</p>
    <a href="{{ path("register") }}">Registrera dig idag!</a>
</div>
{% endblock %}