@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

html {
    background-color: rgb(37, 37, 37);
    color: white;
}

.content {
    background-color: rgb(49, 49, 49);
    width:80vw;
    margin: auto;
    padding: 20px;
    min-height: 70vh;
}

.navbar {
    width: 80vw;
    text-align: center;
    margin: 50px auto;
}

.navbar a {
    text-decoration: none;
    color: white;
    background-color: rgb(90, 30, 67);
    padding: 10px 50px;
    margin: 10px;
    border-radius: 20px;
    transition: 0.5s ease all;
    font-size: 1.2em;
}

.navbar a:hover {
    background-color: rgb(43, 43, 75);
}

.footer {
    text-align: center;
    height: 7vh;
    margin-top: 20px;
    background-color: rgb(31, 31, 31);
}

.footer p {
    margin-top: 10px;
}

.footer a {
    font-size: 1.5em;
    position: relative;
    bottom: 30px;
    transition: 0.5s ease all;
    color: white;
}

.footer a:hover {
    color: blue;
}

h1, h2, h3, h4 ,h5, h6, .title, a, .footer p {
    font-family: 'Unica One', cursive;
}

.title {
    font-size: 4em;
}

.text {
    font-size: 1.3em;
    line-height: 1.4em;
    max-width: 30vw;
    display: inline-block;
}

.texter {
    width: 40vw;
    border-right: 1px solid rgb(36, 36, 36);
    padding-right: 30px;
    font-size: 1.1em;
}

.footer p {
    color: rgb(85, 85, 85);
    font-size: 2em;
}

.content .memage {
    width: 400px;
    float: right;
}

.exercises a, .link {
    /* color: rgb(95, 59, 81); */
    color: white;
}

.card {
    width: 110px;
}

.player {
    padding: 20px;
    border: 2px solid black;
    display: inline-block;
    margin: 10px;
}

.small-img {
    width: 200px;
}

.table {
    width: 80vw;
    height: 70vh;
    background-color: rgb(19, 67, 19);
    border-radius: 20vw;
    position: relative;
}

.t-player {
    position: absolute;
    left: 32vw;
    bottom: 50px;
}

.dealer {
    position: absolute;
    left: 32vw;
    top: 50px;
}

.deck {
    position: absolute;
    left: 80px;
    top: 15vh;
}

.controls {
    position: absolute;
    bottom: 0px;
    left: 15vw;
}

.controls a {
    color: white;
    border: 1px solid white;
    padding: 3px;
}

.controls a:hover {
    color: rgb(95, 111, 216);
    border: 1px solid rgb(95, 111, 216);
    padding: 3px;
}

.table img {
    width: 130px;
    display: inline-block;
    transition: all 0.2s ease-in-out;
}

.table img:hover {
    transform: scale(1.1) rotate(5deg);
    -webkit-box-shadow: 0px 0px 18px 8px rgba(0,0,0,0.52); 
    box-shadow: 0px 0px 18px 8px rgba(0,0,0,0.52);
}

.flash {
    position: absolute;
    right: 80px;
    top: 30vh;
    font-size: 2em;
    padding: 10px;
}

.flash-win {
    color: rgb(7, 39, 7);
}

.flash-lose {
    color: rgb(51, 8, 8);
}

.flash-draw {
    color: rgb(22, 22, 55);
}

.library-navigation a {
    margin-bottom: 20px;
    color: white;
    border: 1px solid white;
    display: inline-block;
    padding: 10px;
    text-decoration: none;
    border-radius: 10px;
}

.library-navigation a:hover {
    background-color: black;
}

.library-gallery {
    width: 100%;
}

.library-gallery-card {
    display: inline-block;
    height: 250px;
    width: 180px;
    background-size: cover;
    transition: 0.1s ease-in-out all;
    position: relative;
}

.library-gallery-card a {
    display: block;
    color: white;
    font-size: 0.8em;
    font-family: 'Courier New', Courier, monospace;
    margin: 10px 10px 5px 10px;
    border: 1px solid white;
    text-align: center;
}

.library-gallery-card a:hover {
    background-color: white;
    color: black;
}

.library-gallery-card:hover {
    transform: scale(1.3);
    z-index: 10000;
}

.library-gallery-card:hover .library-gallery-card-controls {
    /* display: block; */
    opacity: 100%;

}

.library-gallery-card-controls {
    opacity: 0%;
    transition: 0.5s ease-in-out all;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.892);
    position: absolute;
    bottom: 0;
}

.library-single {
    width: 100%;
    text-align: center;
    font-size: 1.2em;
}

.library-single img {
    display: block;
    margin: auto;
    width: 400px;
}

.library-delete {
    display: inline-block;
    border: 2px solid red;
    padding: 20px;
    margin: auto;
}

.library-form-create input {
    border: none;
    display: block;
    margin-bottom: 20px;
    width: 200px;
    height: 20px;
}
