{% extends "base.html.twig" %}

{% block title %}Shuffle{% endblock %}

{% block content %}

<div class="test exercises">
    <h1>{{ title }}</h1>
    {% for card in cards %}
        <img class="card" src="{{ asset('img/cards/')}}{{card}}">
    {% endfor %}
</div>

{% endblock %}