{% extends "base.html.twig" %}

{% block title %}Dice{% endblock %}

{% block content %}

<h1>{{ title }}</h1>

<p>The dice is rolled once.</p>

<p>Dice value = {{ die_value }} and its string representation is {{ die_as_string }}</p>

<p><a class="link" href="{{ link_to_roll }}">Roll the dice five times</a>.</p>

{% endblock %}