{% extends "base.html.twig" %}

{% block title %}About{% endblock %}

{% block content %}
<h1 class="title">MVC / BTH</h1>
<div class="text">
    <p>
        Kursen Objektorienterade webbteknologier, a.k.a. mvc, fokuserar på objektorienterade programmeringstekniker i programmeringsspråket PHP. 
        Klassiska objektorienterade konstruktioner hanteras tillsammans med objektorienterad programmering i webbaserat ramverk tillsammans med databaser samt enhetstestning
    </p>
    <p>
        Kursen omfattar följande områden:
    </p>
    <ul>
        <li>
            <p>Programmering i webbmiljö, syntax, semantik, koppling mot databaser, datastrukturer och inbyggda funktioner.</p>
        </li>
        <li>
            <p>Objektorienterad programmering i PHP med språkkonstruktioner och begrepp. Objektorientering som sätt att strukturera och återanvända kod. Enkla designmönster.</p>
        </li>
        <li>
            <p>SQL med en databas tillsammans med PHP Data Objects.</p>
        </li>
        <li>
            <p>Utveckling av webbapplikationer i ett ramverk där tekniker såsom webbserver (Apache), PHP, HTML, CSS, och SQL integreras tillsammans med ett webbaserat ramverk.</p>
        </li>
        <li>
            <p>Användning av verktyg och tekniker som lämpar sig för utveckling av webbapplikationer, tex UNIX/Linux, installation på extern webbserver, ssh, ftp/sftp, databasklienter såsom PHPMyAdmin, MySQL Workbench och kommandoklienter.</p>
        </li>
    </ul>
</div>
{% endblock %}
