{% extends "base.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}
<p class="title">JOHN FREDRIKSSON</p>
<div class="text">
    <p>
        Student vid Blekinge Tekniska Högskola i programmet Webbprogrammering. Vid en karriärskorsning där jag tidigare arbetat som kock i Sveriges storstäder under de senaste 
        10 åren. Bland intressen utanför jobb och studier så utövar jag skateboardåkning i ramp och ägnar musikaliska timmar åt gitarrspelande i Texan Blues.
    </p>
    <p>
        Bosatt i Malmö vid Folkets Park tillsammans med min sambo Selma och den stora hunden Ester, en Alaskan Malamute på 4 år.
    </p>
</div>
<img src="img/me.jpg" alt="john och ester">
{% endblock %}
